export APP_DB_HOST=postgres
export APP_DB_USER=psql_user
export APP_DB_PASS=psql_pass
export APP_DB_SSLMODE=disable
export APP_AUTH_DB_NAME=auth_db
export APP_CATALOG_DB_NAME=catalog_db
export APP_ORDER_DB_NAME=order_db
export APP_HASH_SALT=hash_salt
export APP_REDIS_HOST=redis
export APP_REDIS_PASS=redis_pass
export APP_MINIO_USER=minio_user
export APP_MINIO_PASS=minio_pass
export APP_RABBITMQ_USER=mq_user
export APP_RABBITMQ_PASS=mq_pass
